<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>

<%= form_with url: comments_new_path do |f| %>
<%= f.text_field :text %>
<%= f.select :color, ["red","blue"] %>
<%= f.select :size, [10,30,50] %>
<%= f.submit("コメント送信") %>
<% end %>
