<!DOCTYPE html>
<html>
  <head>
    <title>NiconicoServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  </head>

  <body>
    <% flash.each do |message_type,message| %>
      <% if message_type === "danger" %>
        <div class="<%= message_type %> notification is-danger"><%= message %> </div>
      <% elsif message_type === "success" %>
        <div class="<%= message_type %> notification is-primary"><%= message %> </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
